/*Font Styles*/
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lato:wght@300&family=Mooli&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterix tag overides browsers default style settings*/
* {
    margin: 0;
    padding: 0;
}

/*Header Styles*/
header {
    background-color: rgb(5, 33, 7);
    background: url("../images/dog-stick.webp") no-repeat center center/cover;
    color: white;
    width: 100%;
    height:700px;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Handlee', 'sans-serif';
    font-size: 180%;
    letter-spacing: 4px;
    text-decoration: underline;
    padding-bottom:5px;
    padding-left:20px;
}

/*Navigation Bar*/

#nav-bar {
    font-size: 90%;
    letter-spacing: 3px;
    list-style-type: none;
    text-decoration: none;
    padding-left:20px;
}

main {
    flex: 1 0 auto;
}

/*General body styles*/
body {
    min-height: 100vh;
    font-family: 'Mooli', 'sans-serif';
    font-size: 0.9rem;
    width:100%;
}

h2,
h3,
h4 {
    text-decoration: underline;
    padding: 10px;
    text-align: center;
}

/*About Us Styles*/
#about {
    background-color:#ffffff;
    color: darkolivegreen;
    text-align: center;
    height: 1100px;
}

#about p {
    padding: 20px;
}

table {
    padding: 50px;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th {
    text-decoration: underline;
    padding: 10px;
    background-color: rgb(5, 33, 7);
    color:#ffffff;
}


th,td {
    border: 3px solid rgb(5, 33, 7);
    padding: 8px;
}

img {
    height:75vh;
    width:75vw;
    margin-bottom: 50px;;
    border-radius: 50%;
    max-width:180px;
    max-height:180px;
}

#services {
    background-color: rgb(5, 33, 7);
    color: #ffffff;
    height: 850px;
    text-align: center;
    padding: 50px;
}

.icon {
    padding: 50px;
    size: 200px;
}

#signup {
    background-color:#ffffff;
    color:darkolivegreen;
    height: 500px;
    width: 100%;
    font-size: 90%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#formsignup {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    text-align: left;
}

.text-input {
    color: black;
    width: 50%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#checkbox {
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#join {
    background-color: darkolivegreen;
    color:#ffffff;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/*Footer*/
footer {
    background-color: rgb(5, 33, 7);
    color: white
}

#contact {
    text-align: center;
}

/*Social pages*/
#socials {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none;
    padding: 0.5em;
}

#socials i {
    color: white;
    font-size: 120%;
}