/*Font Styles*/
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lato:wght@300&family=Mooli&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterix tag overides browsers default style settings*/
* {
margin: 0;
padding: 0;
}

/*Header Styles*/
header {
    background-color: #003366;
    color: white;
    width: 100%;
    padding: 20px;
    position: fixed
    z-index: 99;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Handlee', 'sans-serif';
    font-size: 180%;
    letter-spacing: 4px;
    text-decoration: underline;
}

/*Navigation Bar*/

#nav-bar {
    font-size: 90%;
    letter-spacing: 3px;
    list-style-type: none;
    text-decoration: none;
}

#main-image {
    background: url("../images/doggie-walk3.jpeg") no-repeat center center/cover;
    width: 100%;
    height: 850px;
}

/*General body styles*/
body {
    min-height:100vh;
    font-family: 'Mooli', 'sans-serif';
    font-size: 0.9rem;
}

h2 {
    text-decoration: underline;
    padding: 10px;
    text-align:center;
}

/*About Us Styles*/
#about {
    background-color: rgb(56,56,56);
    color: white;
    text-align: center;
    height:700px;
}

#about p {
    padding:20px;
}