/*Font Styles*/
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lato:wght@300&family=Mooli&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterix tag overides browsers default style settings*/
* {
    margin: 0;
    padding: 0;
}

/*Header Styles*/
header {
    text-decoration: underline;
    color: white;
    width: 100%;
    height: 80px;
    position:fixed;
    z-index: 99;
    background-color: rgb(5, 33, 7);
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Handlee', 'sans-serif';
    font-size: 200%;
    letter-spacing: 4px;
    text-decoration: underline;
    padding-left: 20px;
    padding-top: 20px;
}

/*Navigation Bar*/

#nav-bar {
    font-size: 90%;
    letter-spacing: 3px;
    list-style-type: none;
    text-decoration: none;
    padding-left: 20px;
    line-height:30px;
    background-color: rgb(5, 33, 7);
}

main {
    flex: 1 0 auto;
}

#hero {
    background: url("../images/dog-stick.webp") no-repeat center center/cover;
    height: 1000px;
    width: 100%;
}

.covertext {
    font-family: 'Handlee', 'sans-serif';
    color: white;
    text-decoration:none;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 33, 7, 0.7);
    font-size: 150%;
    position: absolute;
    bottom: 30px;
    width: 180px;
    min-height: 60px;
    padding:10px;
    margin-left: 20px;

}

/*General body styles*/
body {
    min-height: 100vh;
    font-family: 'Mooli', 'sans-serif';
    font-size: 0.9rem;
    width: 100%;
}


.subheading {
    text-decoration: underline;
    padding: 20px;
    text-align: center;
}

/*About Us Styles*/
#about {
    padding-top:140px;
    background-color: #ffffff;
    color: darkolivegreen;
    text-align: center;
    height: 950px;
    border: 30px solid rgb(5, 33, 7);
}

#about p {
    padding: 20px;
}


/*Table*/
table {
    padding: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th {
    text-decoration: underline;
    padding: 10px;
    background-color: rgb(5, 33, 7);
    color: #ffffff;
}


th,
td {
    border: 3px solid rgb(5, 33, 7);
    padding: 8px;
}

/*Image from Pexels.com*/
img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 250px;
    max-height: 250px;
}

#services {
    background-color: rgb(5, 33, 7);
    color: #ffffff;
    height: 850px;
    text-align: center;
    padding-top:160px;
    padding-bottom: 250px;
}


.tiles {
    position: relative;
    width: auto;
    height:auto;
    max-width: 50%;
  }
  
  .imagetiles {
    display: block;
    width: auto;
    height: auto;
  }

  .servicetiles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgba(5, 33, 7, 0.5); 
    color: #f1f1f1; 
    width: auto;
    height:auto;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
  }
  

.tiles:hover .overlay {
    opacity: 1;
}


.icon {
    padding: 50px;
}

#signup {
    background-color: #ffffff;
    color: darkolivegreen;
    height: 500px;
    font-size: 90%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 30px solid rgb(5, 33, 7);
    padding-top:200px;
}

/*Form*/
#formsignup {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    text-align: left;
}

.text-input {
    color: black;
    width: 50%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}



#checkbox {
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

#join {
    background-color: darkolivegreen;
    color: #ffffff;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/*Footer*/
footer {
    padding-top:20px;
    background-color: rgb(5, 33, 7);
    color: white
}

footer p{
    text-align: center;
    padding: 20px;
}

#contact {
    text-align: center;
}

/*Social pages*/
#socials {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none;
    padding: 0.5em;
}

#socials i {
    color: white;
    font-size: 120%;
    padding:15px;
}

/*Media Queries*/
@media screen and (min-width: 768px) {

    header {
        height: 100px;
    }

    h1 {
        font-size: 50px;
        text-decoration: none;
        text-align: center;
    }


    #nav-bar {
        font-size: 15px;
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
        text-decoration: underline;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        max-width: 600px;
        height: 1100px;
        display: flex;
    }

    #about {
        padding-top:30px;
    }
   
    .text-input {
        width: 20%;
    }
}